@charset "utf-8";
.blink {
	animation: blink 1s infinite;
}
@keyframes blink {
	0% { opacity: 1;}
	50% { opacity: 0;}
	100% { opacity: 1;}
}
#clock{
	top: -770px;
	left: 50px;
	color: #ffffff;
	z-index:7;
	position:absolute;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-size: 11px;
}